.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: aliceblue;
  text-decoration: none;
  height: 100%;
  padding: 0px 10px;
  border-bottom: 4px solid transparent;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background-color: #336699;
  border-bottom: 4px solid #3971ac;
  color: aliceblue;
}
