.SettingControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.SettingControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #d9e6f2;
  cursor: pointer;
  outline: none;
}

.SettingControl button:disabled {
  background-color: #8cb3d9;
  border: 1px solid #79a6d2;
  color: #ccc;
  cursor: default;
}

.SettingControl button:hover:disabled {
  background-color: #ecf2f9;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.SettingControl .TooHot {
  background-color: #ffebcc;
  color: #060d13;
}

.SettingControl .TooCold {
  background-color: #c6d9ec;
  color: #060d13;
}

.SettingControl .TooHot:hover,
.SettingControl .TooHot:active {
  background-color: #ffe0b3;
  color: #060d13;
}

.SettingControl .TooCold:hover,
.SettingControl .TooCold:active {
  background-color: #b3cce6;
  color: #060d13;
}
