.Svg {
  display: inline-block;
}

.Svg div {
  display: flex;
}

.Svg svg {
  display: block;
  /* height: 12%;
  width: 12%; */
}

.Container {
  display: inline-block;
}

.Container p {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 4px;
  margin-inline-end: 7px;
  color: #001a33ff;
}
